/* Media Queries */

@mixin bp($point) {
    @if $point == phone {
        @media (max-width: 499px) { @content; }
    }
    @else if $point == tablet-portrait {
        @media (min-width: 600px) { @content; }
    }
    @else if $point == tablet-landscape {
        @media (min-width: 900px) { @content; }
    }
    @else if $point == desktop {
        @media (min-width: 1200px) { @content; }
    }
}

/* Utility Mixins */

@mixin zero-margin {
    margin: 0 auto;
    padding: 0;
}

/* Body Styles */

@font-face {
    font-family: 'Varela', sans-serif;  
    src: url(../fonts/Varela-Regular.ttf);  
    font-weight: normal;  
}


html, body {
    @include zero-margin;
    position: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Varela', sans-serif;
    // @include bp(tablet-landscape){
    //     font-size: 110%;
    // }
    // @include bp(desktop){
    //     font-size: 125%;
    // }
}

h1, h2, h3, a {
    letter-spacing: 3px;
    text-transform: uppercase;
}

.button {
    background: white;
    color: black;
    letter-spacing: 3px;
    border: solid black 1px;
}

.button:hover, link:hover {
    color: white;
    background: black;
}

.navbar, #navbar {
    letter-spacing: 3px;
    text-transform: uppercase;
}

footer {
    padding: 1em;
    margin-bottom: -2em;
    width: 100%;
    position: absolute;
    bottom: 0;
}

hr {
    width: 80%;
    border-top: 1px solid #888888;
}

/* Home Page */

.hero-body {
    align-content: center;
    justify-content: center;
}

.hero-card {
    z-index: 1;
    text-align: center;
    padding: 1em;
}

.hero-card-image {
    max-height: 300px;
}

.about-image {
    max-height: 500px;
    max-width: auto;
}

/* Portfolio Page */

.portfolio-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    /* flex-basis: 25%; */
}

.portfolio-post {
    min-width: 100%;
    margin: 1em;
    @include bp(tablet-portrait){
        min-width: 80%;
    }
    @include bp(tablet-landscape){
        min-width: 50%;
        margin: 0 auto;
    }
    @include bp(desktop){
        min-width: 33%;
    }
}

/* Services Page */

.column-services {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 1em;
    padding: 0;
    min-width: 30%;
}

.card-services {
    color: inherit;
    background: inherit;
    border: 1px solid black;
}

/* Clients Page */

.client-post {
    max-width: 50%;
    padding: 0;
    @include bp(tablet-landscape){
        max-width: 60%;
    }
    @include bp(desktop){
        max-width: 50%;
    }
}

.client-logo {
    // max-width: 50%;
}

.client-level{
    display: flex;
    flex-wrap: wrap-reverse;
    // @include bp(tablet-portrait){
    //     display: '';
    // }
}

/* 404 Page */

.container-404{
    height: 50vh;
    width: 100vw;
}