/* Media Queries */

@mixin bp($point) {
    @if $point == phone {
        @media (max-width: 499px) { @content; }
    }
    @else if $point == tablet-portrait {
        @media (min-width: 600px) { @content; }
    }
    @else if $point == tablet-landscape {
        @media (min-width: 900px) { @content; }
    }
    @else if $point == desktop {
        @media (min-width: 1200px) { @content; }
    }
}

/* Utility Mixins */

@mixin zero-margin {
    margin: 0 auto;
    padding: 0;
}

html, body, #page {
    @include zero-margin;
    position: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    line-height: 1.375;
}

/* Font settings */

h1, h2, h3, a {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Varela', 'Helvetica', sans-serif;
}

h1 {
    font-size: 1.75em;
    @include bp(tablet-landscape){
        font-size: 2em;
        line-height: 1.125;
    }
    @include bp(desktop){
        font-size: 2.25em;
        line-height: 1.05;
    }
}

h2 {
    font-size: 1.25em;
    line-height: 1.15384615;
    @include bp(tablet-landscape){
        font-size: 1.5em;
        line-height: 1.25;
    }
    @include bp(desktop){
        font-size: 1.75em;
        line-height: 1.25;
    }
}

/* Item styles */

.button {
    background: white;
    color: black;
    letter-spacing: 3px;
    border: solid black 1px;
}

.button:hover, link:hover {
    color: white;
    background: black;
}

.navbar, #navbar {
    letter-spacing: 3px;
    text-transform: uppercase;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

hr {
    width: 80%;
    border-top: 1px solid #888888;
}

/* Home Page */

.hero-body {
    align-content: center;
    justify-content: center;
}

.hero-card {
    z-index: 1;
    text-align: center;
    border-radius: 5px;
    padding: 1em;
    @include bp(tablet-portrait){
        max-width: 60%;
    }
    @include bp(tablet-landscape){
        max-width: 40%;
    }
    @include bp(desktop){
        max-width: 30%;
    }

}

.hero-card-image {
    max-height: 200px;
}

.about-section {
    overflow: hidden;
}

.about-image {
    max-height: 500px;
    max-width: auto;
}

.about-content {
    width: 80%;
    padding-left: 1em;
    padding-right: 1em;
    @include bp(tablet-landscape){
        width: 60%;
    }
    @include bp(desktop){
        width: 50%;
    }
}

/* Portfolio Page */

.portfolio-container {
    display: inline-grid;
    grid-template-columns: auto;
    width: 100%;
    @include bp(tablet-landscape){
        grid-template-columns: auto auto;
    }
    @include bp(desktop){
        grid-template-columns: auto auto auto;
    }
}

.portfolio-post {
    min-width: 80%;
    margin: 1em;
}

/* Services Page */

.services-container {
    display: grid;
    grid-template-columns: auto;
    // width: 75%;
    @include bp(tablet-landscape){
        grid-template-columns: auto auto;
    }
}

.card-services {
    margin: 1em;
    color: inherit;
    background: inherit;
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    @include bp(tablet-portrait){
        padding: 1.5em;
        margin: 1.5em;
    }
    @include bp(tablet-landscape){
        padding: 2em;
        margin: 2em;
    }
    @include bp(desktop){
        padding: 3em;
        margin: 3em;
    }
}

/* Clients Page */

.client-level {
    display: flex;
    flex-wrap: wrap-reverse;
}

.client-post {
    width: 100%;
    padding: 0;
    @include bp(tablet-portrait){
        width: 70%;
}
    @include bp(tablet-landscape){
        width: 60%;
    }
    @include bp(desktop){
        width: 50%;
    }
}

.client-logo {
    width: 100%;
    padding-left: 3em;
    @include bp(tablet-portrait){
        width: 30%;
    }
    @include bp(tablet-landscape){
        width: 40%;
    }
    @include bp(desktop){
        width: 50%;
    }
}

/* Contact Page */

label, input {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Varela', 'Helvetica', sans-serif;
}

/* 404 Page */

.container-404{
    height: 50vh;
    width: 100vw;
}