@font-face {
    font-family: 'Varela', sans-serif;  
    src: url(../fonts/Varela-Regular.ttf);  
    font-weight: normal;  
}

* {
    font-family: 'Varela', sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: 0;
    box-sizing: border-box;
}

/* .runaway-home > .video-background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

h1, h2, h3, a {
    letter-spacing: 3px;
    text-transform: uppercase;
}
/* .runaway {
    background: seagreen;
} */

/* .section {
    padding: 0;
    margin: 0 auto;
} */
.button {
    background: white;
    color: black;
    letter-spacing: 3px;
    border: solid black 1px;
}

.button:hover, link:hover {
    color: white;
    background: black;
}

.navbar, #navbar {
    letter-spacing: 3px;
    text-transform: uppercase;
    /* justify-content: space-between; */
    /* display: flex;
    justify-content: space-evenly; */
}

.hero-body {
    align-content: center;
    justify-content: center;
}

.hero-card {
    z-index: 1;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    /* flex-basis: 25%; */
}

.post {
    min-width: 25%;
    margin: 1em;
    padding: 1em;
}
