/* Media Queries */
/* Utility Mixins */
/* Body Styles and Font Settings */
@font-face {
  font-family: 'Varela', 'Helvetica', sans-serif;
  src: url("../fonts/Varela-Regular.ttf");
  font-weight: normal;
}

html, body, #page {
  margin: 0 auto;
  padding: 0;
  position: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Varela', 'Helvetica', sans-serif;
  line-height: 1.25;
}

@media (min-width: 900px) {
  html, body, #page {
    font-size: 1em;
    line-height: 1.375;
  }
}

h1, h2, h3, a {
  letter-spacing: 3px;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
}

@media (min-width: 900px) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

@media (min-width: 900px) {
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
}

#page {
  font-size: 1em;
  line-height: 1.25;
}

@media (min-width: 600px) {
  #page {
    font-size: 1em;
    line-height: 1.375;
  }
}

.button {
  background: white;
  color: black;
  letter-spacing: 3px;
  border: solid black 1px;
}

.button:hover, link:hover {
  color: white;
  background: black;
}

.navbar, #navbar {
  letter-spacing: 3px;
  text-transform: uppercase;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

hr {
  width: 80%;
  border-top: 1px solid #888888;
}

/* Home Page */
.hero-body {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-card {
  z-index: 1;
  text-align: center;
  padding: 1em;
}

.hero-card-image {
  max-height: 300px;
}

.about-section {
  overflow: hidden;
}

.about-image {
  max-height: 500px;
  max-width: auto;
}

/* Portfolio Page */
.portfolio-container, .services-container {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  width: 100%;
}

@media (min-width: 900px) {
  .portfolio-container, .services-container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media (min-width: 1200px) {
  .portfolio-container, .services-container {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

.portfolio-post {
  min-width: 80%;
  margin: 1em;
}

/* Services Page */
.card-services {
  margin: 1em;
  color: inherit;
  background: inherit;
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
}

/* Clients Page */
.client-post {
  max-width: 50%;
  padding: 0;
}

@media (min-width: 900px) {
  .client-post {
    max-width: 60%;
  }
}

@media (min-width: 1200px) {
  .client-post {
    max-width: 50%;
  }
}

.client-level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

/* Contact Page */
label, input {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: 'Varela', 'Helvetica', sans-serif;
}

/* 404 Page */
.container-404 {
  height: 50vh;
  width: 100vw;
}
/*# sourceMappingURL=main.css.map */